<ul class="props">
  <% item.properties.each do |prop| %>

    <% sort = :sort %>
    <% sort = :mod if prop[2].to_s.to_i > 0 %>

    <% options = { data: { sort => prop[2] } }  %>
    <%= content_tag :li, options do %>
      <span><%= prop[1] %></span>
      <%= prop[0] %>
    <% end %>
  <% end %>
</ul>
