.normal         { color: $normal-color; }
.magic          { color: $magic-color; }
.rare           { color: $rare-color; }
.unique, .fire  { color: $unique-color; }
.cold           { color: $int-color; }
.lightning      { color: #B09300 }
.chaos          { color: #D02090; }
.life, .maximum_life {
  color: #da4f49;
}
.physical             { color: #793A00 }
.spell                { color: #6A1CB3 }
.speed                { color: #238023 }

.int          { color: $int-color; }
.str          { color: $str-color; }
.dex          { color: $dex-color; }

.socket-D     { color: green }
.socket-S     { color: red }
.socket-I     { color: blue }

$dark-bg-color: #31313a;
$dark-life: #F75B54;
$dex-color: #51A531;

.unique  { color: #E07726 }
.fire { color: #C77334 }
.life                 { color: $dark-life }
.cold                 { color: #77A8FF }
.chaos                { color: #EF6CBF }
.magic                { color: #6BB2FF }
.rare, .lightning     { color: #DDBF22 }
.normal               { color: #fff }
.physical             { color: #C48C59 }
.spell                { color: #B39CE4 }
.speed                { color: #63AC63 }
