.normal         { color: $normal-color; }
.magic          { color: $magic-color; }
.rare           { color: $rare-color; }
.unique, .fire  { color: $unique-color; }
.cold           { color: $int-color; }
.lightning      { color: #B09300 }
.chaos          { color: #D02090; }
.life, .maximum_life {
  color: #da4f49;
}
.physical             { color: #793A00 }
.spell                { color: #6A1CB3 }
.speed                { color: #238023 }

.int          { color: $int-color; }
.str          { color: $str-color; }
.dex          { color: $dex-color; }

.socket-D     { color: green }
.socket-S     { color: red }
.socket-I     { color: blue }
