body
  background: #f6f6f6
  min-height: 2000px

#main-content
  background: none
  border: 0
  box-shadow: none
  padding: 20px 0

.exile
  background: white
  border-radius: 3px
  // box-shadow: 0 0 4px black
  margin-bottom: 2.5%

  .cover
    height: 160px
    background-size: cover
    background-position-y: 50%
    background-position-x: 50%
    position: relative
    border-radius: 3px 3px 0 0

    h3
      color: white
      position: absolute
      top: auto
      bottom: 20px
      left: 20px
      margin: 0
      text-shadow: 0 0 6px #444
      font-size: 1.2em
