body.c-exiles.a-show
  background: #f5f5f5

.c-exiles.a-show
  h2
    font-weight: normal

#cover, #cover .span12, .faded-background, .overlay
  height: 360px

#cover
  .span12
    position: relative

  #intro
    text-shadow: 0 0 6px #444
    top: auto
    bottom: 40px
    left: 0
    position: absolute
    width: 100%

    .border-button
      color: white
      font-size: 2.2em
      float: left
      margin-top: 1px
      padding: 10px

  h1, p
    color: white
    font-size: 1.3em

  h1
    font-size: 2.8em
    margin-bottom: 10px

.faded-background
  position: absolute
  width: 100%
  background-size: cover
  background-repeat: no-repeat
  background-position: 50% 30%

.overlay
  display: inline-block
  position: absolute
  top: 0
  left: 0
  width: 100%
  background-image: radial-gradient(ellipse at center, rgba(47, 47, 47, 0.0) 60%, #000 100%)

#splash
  position: relative
  display: inline-block

  img
    max-height: 250%
    min-width: 450px

.photo
  margin: 0 20px 20px 0

.description p
  font-size: 1.4em
  font-weight: 300
  line-height: 1.5em

#stats
  .stat
    display: block
    float: left
    margin-right: 3%
    border: 1px solid white
    padding: 5px

    &.border-button
      border-color: #aaa
      border-radius: 3px

  .value
    float: left
    font-size: 2.0em
    font-weight: bold

  .side-label
    font-size: 0.75em
    float: left
    padding: 6px 0 0 6px

    span
      display: block

#user-actions
  position: absolute
  top: 20px
  right: 0

  .border-button
    color: white
    opacity: 0.6

    &:hover
      opacity: 1
