<div id="left-sidebar" class="span2">


  <div class="facet">
  <h3>
      <a class="reset-facet " href="/?rarity=">reset</a>

    Rarity
  </h3>
  <ul>
      <li>
        <a href="/?rarity=Rare">
          <span class="facet-title">
            <span class="right small tag">642</span>

            Rare
          </span>
</a>      </li>
      <li>
        <a href="/?rarity=Unique">
          <span class="facet-title">
            <span class="right small tag">430</span>

            Unique
          </span>
</a>      </li>
      <li>
        <a href="/?rarity=Normal">
          <span class="facet-title">
            <span class="right small tag">17</span>

            Normal
          </span>
</a>      </li>
      <li>
        <a href="/?rarity=Magic">
          <span class="facet-title">
            <span class="right small tag">8</span>

            Magic
          </span>
</a>      </li>
  </ul>
</div>

  <div class="facet">
  <h3>
      <a class="reset-facet " href="/?linked_sockets=">reset</a>

    Linked sockets
  </h3>
  <ul>
      <li>
        <a href="/?linked_sockets=1">
          <span class="facet-title">
            <span class="right small tag">421</span>

            1
          </span>
</a>      </li>
      <li>
        <a href="/?linked_sockets=2">
          <span class="facet-title">
            <span class="right small tag">367</span>

            2
          </span>
</a>      </li>
      <li>
        <a href="/?linked_sockets=3">
          <span class="facet-title">
            <span class="right small tag">196</span>

            3
          </span>
</a>      </li>
      <li>
        <a href="/?linked_sockets=5">
          <span class="facet-title">
            <span class="right small tag">57</span>

            5
          </span>
</a>      </li>
      <li>
        <a href="/?linked_sockets=4">
          <span class="facet-title">
            <span class="right small tag">33</span>

            4
          </span>
</a>      </li>
      <li>
        <a href="/?linked_sockets=6">
          <span class="facet-title">
            <span class="right small tag">23</span>

            6
          </span>
</a>      </li>
  </ul>
</div>

  <div class="facet">
  <h3>
      <a class="reset-facet " href="/?item_type=">reset</a>

    Top 5 Types
  </h3>
  <ul>
      <li>
        <a href="/?item_type=Wand">
          <span class="facet-title">
            <span class="right small tag">177</span>

            Wand
          </span>
</a>      </li>
      <li>
        <a href="/?item_type=Bow">
          <span class="facet-title">
            <span class="right small tag">153</span>

            Bow
          </span>
</a>      </li>
      <li>
        <a href="/?item_type=Dagger">
          <span class="facet-title">
            <span class="right small tag">91</span>

            Dagger
          </span>
</a>      </li>
      <li>
        <a href="/?item_type=TwoHandAxe">
          <span class="facet-title">
            <span class="right small tag">59</span>

            Two Hand Axe
          </span>
</a>      </li>
      <li>
        <a href="/?item_type=TwoHandMace">
          <span class="facet-title">
            <span class="right small tag">42</span>

            Two Hand Mace
          </span>
</a>      </li>
  </ul>
</div>

  <div class="facet">
  <h3>
      <a class="reset-facet " href="/?name=">reset</a>

    Top 5 Names
  </h3>
  <ul>
      <li>
        <a href="/?name=Imbued+Wand">
          <span class="facet-title">
            <span class="right small tag">75</span>

            Imbued Wand
          </span>
</a>      </li>
      <li>
        <a href="/?name=Siege+Axe">
          <span class="facet-title">
            <span class="right small tag">21</span>

            Siege Axe
          </span>
</a>      </li>
      <li>
        <a href="/?name=Karui+Chopper">
          <span class="facet-title">
            <span class="right small tag">18</span>

            Karui Chopper
          </span>
</a>      </li>
      <li>
        <a href="/?name=Short+Bow">
          <span class="facet-title">
            <span class="right small tag">15</span>

            Short Bow
          </span>
</a>      </li>
      <li>
        <a href="/?name=Basket+Rapier">
          <span class="facet-title">
            <span class="right small tag">15</span>

            Basket Rapier
          </span>
</a>      </li>
  </ul>
</div>



      </div>
