<%= render "index_sidebar" %>

<div class="span10">
  <div id="main-content">
    <%= render "exile_searches/form" %>

    <% @exiles.each_slice(3) do |slice| %>
    <div class="row-fluid">
      <%= render slice %>
    </div>
    <% end %>

    <%= render "pagination", pagination: paginate(@exiles) %>
  </div>
</div>

<% content_for :dom_ready do %>
  App.Vote.setup();
<% end %>
