<% content_for :cover do %>
<%= render "sub_header" %>

<div id="cover" style="background-image: url(http://i.imgur.com/FAkTFdy.png)">

  <h1><%= @exile.name %></h1>
  <% if @exile.tagline.present? %>
    <p><%= @exile.tagline %></p>
  <% end %>

</div>
<% end %>
