<%= f.fields_for :bandit_choice do |c| %>

  <% choice = BanditChoiceDecorator.new(c) %>

  <div class="brodered-section">
    <% BanditChoice.difficulty.each do |difficulty| %>
      <div class="section">
        <%= choice.bandit_choice(difficulty) %>
      </div>
    <% end %>
  </div>

  <%= choice.alternatives %>

<% end %>
