<% form = BasicsFormDecorator.new(f) %>

<div class="bordered-section">
  <%= form.title %>
  <%= form.summary %>
</div>

<div class="bordered-section">
  <%= form.description %>
</div>

<div class="bordered-section">
  <%= form.conclusion %>
</div>
