<% playstyle = PlaystyleDecorator.new(f) %>

<div class="bordered-section">
  <%= playstyle.klasses %>
</div>

<div class="bordered-section">
  <%= playstyle.video_url %>
</div>

<div class="bordered-section clearfix">
  <%= playstyle.leagues %>
</div>

<div class="bordered-section">
  <%= playstyle.life_type %>
</div>
