<div class="no-results bordered-section padding-top">
<%= simple_form_for @shop, html: { class: "no-margin" } do |f| %>
  <%= f.input :thread_url, as: :string, input_html: { class: "span8" } %>

  <p class="text small">It might take a few hours for your shop to be indexed.</p>

  <%= f.submit "Create shop", class: "btn btn-success" %>
<% end %>
</div>
