.build.result {

  h2 {
    font-size: 30px;
    margin-bottom: 5px;

    a:hover {
      background: $a-color;
      color: white;
      border-radius: 2px;
    }
  }

  .faded {
    font-size: 14px;
  }

  .details {
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .summary {
    padding: 10px 0;
    border: 1px solid #eee;
    border-width: 1px 0;
  }
}
