@import "variables";

label {
  font-weight: bold;
}

.select2-container.select, .select2-container-multi {
  width: 100%;
}

.select2-container-multi {
  margin-bottom: 10px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 6px;
}

.select2-container .select2-choice span {
  line-height: 32px;
}

.select2-container .select2-choice {
  height: 32px;
}

form .input.string input {
  height: 34px;
}

.sockets {
  position: relative;
}

.skill-tree {
  textarea {
    height: 80px;
  }
}

.nav-tabs a.error {
  color: #B94A48;
}

#build_summary {
  height: 80px;
}

.input.boolean {
  float: left;
  margin-right: 12px;
}

$orange: #F90;

.vote-module {
  border: 1px solid #eee;
  background: #f8f8f8;
  border-radius: 3px;

  a, span {
    display: block;
    width: 100%;
    text-align: center;
  }

  .vote-up, .vote-down {
    cursor: pointer;

    &.voted i {
      &:hover { color: $orange; }
      color: $orange;
    }
  }

  i.fa-caret-up {
    color: #777;

    &:hover {
      color: #F90;
    }
  }

  i.fa-caret-down {
    color: #ccc;

    &:hover {
      color: #999;
    }
  }

  a {
    font-size: 34px;
  }

  span {
    font-size: 24px;
    color: #666;
  }
}

.support_false {
  font-weight: bold;
}
