<%= render layout: "users/layout", locals: { sidebar: "users/sidebars/show" } do %>

  <div class="bordered-section">
    <h2>Path Of Exile accounts</h2>
    <%= render "players/head" %>
    <p>This feature is still in development.</p>
    <%#= render "players/players_listing", players: @user.players %>
  </div>

  <% if false && @user.is?(current_user) %>
  <div class="bordered-section text">
    <h2>Add a Path of Exile character</h2>

    <p>Linking characters to your account allows you to mark them as <span class="tag tag-green">online</span> manually.</p>

    <%= render "users/link_character_form" %>
  </div>
  <% end %>
<% end %>
