<div class="bordered-section">

  <h2 id="gear">Gear and skills</h2>

  <%= render "builds/show/gearing_advice" %>

  <%= render "builds/show/skills" %>

  <%= render "builds/show/uniques" %>

</div>
