<% build_gears = @build.gears.first(20) %>

<% if build_gears.any? %>

    <h3 id="skills">Skills</h3>

    <% build_gears.each_slice(2) do |gears| %>
      <div class="row-fluid">
        <%= render gears %>
      </div>
    <% end %>

<% end %>
