<%= render layout: "users/layout" do %>

  <div class="bordered-section">
    <%= render "shops/shops_listing", shops: @shops %>
  </div>

  <% if @user.is?(current_user) && can?(:create, Shop) %>
    <%= link_to "Create a shop", new_shop_path, class: "btn btn-success" %>
  <% end %>

<% end %>
