<div id="top-nav" class="clearfix">
  <div class="large-12 columns">
    <div class="large-2 columns">
      <%= link_to root_url, id: "logo" do %>
        PoExplorer
      <% end %>
    </div>
    <div class="large-8 columns">
      <%= render "fast_searches/form" %>
    </div>
    <div class="large-2 columns">
      <%#= Temporary %>
      <%= image_tag "avatr.jpg", style: "border-radius: 50%; height: 36px; float: right; margin-top: 10px;" %>
    </div>
  </div>
</div>
