<div id="top-nav">
  <div class="large-12 columns">
    <div class="large-3 columns">
      <%= link_to root_url do %>
        PoExplorer
      <% end %>
    </div>
    <div class="large-6 columns">
      <%= render "fast_searches/form" %>
    </div>
    <div class="large-3 columns">

    </div>
  </div>
</div>
