<%
players ||= []
add_character ||= false

if add_character
  players = players.unshift(Struct.new("AddPlayer") do
    def to_partial_path; "players/add" end
  end.new())
end
%>

<div class="section">

  <% if players.any? %>
    <% players.each_slice(4) do |slice| %>
      <div class="row-fluid">
        <%= render slice %>
      </div>
    <% end %>

  <% else %>
    <div class="no-results">
      <h2>No Characters</h2>
    </div>
  <% end %>
</div>
