<% players ||= [] %>

<% if players.any? %>
  <%= render "players/head" %>
  <div id="results">
    <%= render players %>
  </div>
<% else %>

  <div class="no-results">
    <h2>No players</h2>
  </div>

<% end %>
