<% no_facet_link ||= false %>

<% facets = FacetsDecorator.decorate_collection(
      results.facets,
      params,
      { no_facet_link: no_facet_link }
) %>

<div class="hidden-phone">
<% facets.each do |facet| %>
  <%= render facet %>
<% end %>
</div>
