<% content_for :dom_ready do %>
  // App.ItemRenderer.setup("#results .result");
  // App.ItemVerification.setup({ root: "#results" });
  // App.PM.setup("#results");
<% end %>

<div id="results" class="<%= @layout.to_class %>" data-size="<%= @layout.size %>">
  <%= render partial: "searches/result", collection: results %>
</div>
