<%= page_title("#{@search.archetype_name} Search") %>

<%= render "searches/search_sub_header" %>

<div class="box">
  <div class="box-content">
    <%= render "searches/form" %>
  </div>
</div>

<%= render "searches/results_and_facets" %>
