<% form ||= nil %>
<% tab_name ||= nil %>
<% current = form && form.send(:"#{type}?") %>

<li class="tab-search-<%= type %>s">
  <%= link_to [:new, :"#{type}_search"] do %>
    <% if current %>
      <i class="icon-search"></i>
    <% end %>
    <%= tab_name || type.capitalize.pluralize %>
    <% if current %>
      <span class="tag"><%= total_count %></span>
    <% end %>
  <% end %>
</li>
