body.authentication {
  background: #f6f6f6;
}

.signin-box {
  background: #FFF;
  padding: 20px;
  margin: 40px 0;
  border-radius: 4px;
  box-shadow: 0 0 6px #D5D5D5;
  border: 1px solid #D1D1D1;
}

.social-login {
  a {
    font-size: 13px;
    border-radius: 3px;
    display: block;
    padding: 12px;
    color: white;
    &:hover {
      color: white;
    }

    span {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
