<% stylesheet "blog" %>

<% content_for :left_sidebar do %>
  <h1><%= link_to "Blog", posts_path %></h1>

  <p class="text faded">
    Read about the new features and what's coming.
  </p>
<% end %>

<%= yield %>
