<span class="online-status">
  <a href="/accounts/{{account}}" class="account" data-account="{{account}}" target="_blank">
    <i class="fa fa-circle-o online-icon"></i>
    <span>{{account}}</span>
  </a>
</span>
