<%= render "about_sub_header" %>

<div class="text">

  <div class="bordered-section">
    <h2 class="first">Can you only show items with online sellers?</h2>

    <p>
      This feature wasn't available in the previous version of PoExplorer,
      but it now is! Just check the checkbox "Online only" in the
      search form, and you're set!
    </p>
  </div>

  <div class="bordered-section">
    <h2 class="first">My items are not indexed, what's happening?</h2>

    <p>
      Your threads are indexed when they reach the first pages in the forum.
      <br>
      I improved the indexing performances quite a bit in the new version
      of the site, and will continue to do so.
    </p>

    <p>Feel free to <%= link_to "contact me", feedback_path %> if you still have problems, and I'll make sure your stuff gets indexed.</p>
  </div>

</div>
