$dark-bg-color: #31313a;

body {
  background: #484852 image-url("dark-bg.png") center 0 repeat-y;
  color: white;
}

#main-content {
  background: #484852;
  border-left-color: #272727;
}

a {
  color: #6BB2FF;

  &:hover {
    color: #84C0FF;
  }
}

.facet {
  border-bottom-color: #626568;
}

hr {
  border-top: 1px solid #626568;
}

.item:hover h2 a {
  background: #303030;
}

.tag {
  color: #DFDFDF;
  background: #2A2A34;
  text-shadow: 0 1px 0 #070707;
}

.pagination-bar {
  background: #3b3b45;
  border-color: #24242B;

  .pagination {
    span:hover, span.current {
      background: #24242B;
    }
  }
}

a.view_layout {
  &.current, &:hover {
    background: #24242B;
  }
}

#search-form {
  .search-tabs {
    background: #3b3b45;
    border-color: #24242B;
  }

  a.inputy {
    background: $dark-bg-color;
    color: white;

    &:hover { background: lighten($dark-bg-color, 2%) }
  }
}

.unique, .fire, .str  { color: #E07726; }
.life                 { color: #F75B54; }
.cold                 { color: #77A8FF; }
.magic                { color: #6BB2FF }
.rare, .lightning     { color: #DDBF22; }
.normal               { color: #fff; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: white;
  background: $dark-bg-color;
  border-color: #24242B;
}

.select2-container .select2-choice {
  background: $dark-bg-color;
  border-color: #24242B;
  color: #999;
  box-shadow: none;
}
.select2-drop {
  background: $dark-bg-color;
  border-color: #24242B;
  color: white;
}

select {
  background: $dark-bg-color;
  border-color: #24242B;
  color: white;
}

#footer {
  background: #3b3b45;
  border-top-color: #272727;
}

.signin-box {
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input,
  select {
    background: white;
    border-color: #ccc;
  }
}

.select2-choice.highlight {
  color: white;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background: $dark-bg-color;
}

.item {
  .tag {
    background: #34343B;
    border-color: #292931;
    color: white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  }
  .implicit {
    border-color: #24242B;
  }

  .stats li, .props li[data-sort] {
    &:hover, &.sorting { background: #3A3A41; }
  }

  .sorting {
    border-color: #24242B;
  }
}

a.view_layout.s_layout {
  border-color: black;
}

.popover {
  color: #333;
}

.item-container {
  background: #3b3b45;
  border: 1px solid #31313A;
}
