$a-color: #316EAF;

$border-radius: 2px;

$top-nav-hover-bg-color: #2E9876;

$app-padding: 20px;

$top-nav-height: 42px;

$bg-color: #194B81;

$orange: #F90;

$gap: 20px;

$unique-color: #af6025;
$rare-color: #BDA529;
$magic-color: #6091E9;
$normal-color: #777;

$dex-color: #51A531;
$int-color: #6091E9;
$str-color: $unique-color;

$sub-header-bottom-border-color: #0C2744;
$sub-header-color: #23416b; //#1f3b62;
$header-color: #2DA880;
$border-bottom-color: #1E5633;

$sub-header-height: 48px;

$box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);

$pagination-border-color: #ABB0B7;
