<div id="price-fields" class="tabcontent">
  <div class="controls-rows clearfix">
    <%= @form.item_min_price(width: 2) %>
    <%= @form.item_max_price(width: 2) %>
    <%= @form.item_currency(width: 2) %>
    <div class="span6">
      <p class="small text"><%= link_to "Learn more about searching by price", search_by_price_path, target: "_blank" %></p>
    </div>
  </div>
</div>
