<%= content_tag :div, "",
  id: "poexplorer-loader",
  style: "height: 560px; width: 100%; background: url(#{asset_path('loader.gif')}) center 30% no-repeat;"
%>

<% content_for :dom_ready do %>
  $.ajax({
    url: '<%= forum_thread_path(params[:id], page: params[:page]) %>',
    dataType: "html",
    success: function(data) {
      $("body").prepend(data);

      App.ItemRenderer.setup("#results .result");
      App.ItemVerification.setup({ root: "#results" });
      App.OnlineStatus.accountStatuses("#results");
      App.PM.setup("#results");
    },
    error: function() {
      $("body").prepend("<p>An error occured, please try again later.</p><p>Contact niuage[at]gmail.com if the issue persists.</p>")
    },
    complete: function() {
      $("#poexplorer-loader").remove()
    }
  });
<% end %>
