<div id="sub-header">
  <div class="inner-header">
    <div class="wrapper-l">
      <div class="row-fluid">
        <span class="span2">
          <h1><%= yield :h1 %></h1>
        </span>

        <span class="span10">
          <ul class="clearfix main-menu">
            <%= yield :main_menu %>
          </ul>
        </span>

      </div>
    </div>


  </div>
</div>
