<div id="sub-header">
  <div class="inner-header">
    <div class="wrapper-l">
      <div class="row-fluid">
        <span class="span2">
          <h1><%= yield :h1 %></h1>
        </span>

        <span class="span10">
          <div class="row-fluid">
            <ul class="span8 clearfix main-menu">
              <%= yield :main_menu %>
            </ul>
            <div class="span4 hidden-phone">
              <%= @layout.buttons if @layout %>
            </div>
          </div>
        </span>

      </div>
    </div>


  </div>
</div>
