<%= render "about/about_sub_header" %>

<% content_for :left_sidebar do %>
  <div class="text faded">
  <p>Anything you have to say about the site is welcomed!</p>

  <p>Ask for features, share your ideas, send bug reports, praises...</p>
  </div>
<% end %>

<%= render "messages/form" %>
