.img-rounded {
  border-radius: 2px;
}
.img-polaroid { padding: 2px; border: 1px solid #ddd; }

.notice {
  color: #C09853;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  border-radius: 2px;
  padding: 10px;
}

.ir {
  display: block; border: 0; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr;
  br { display: none; }
}

.grey-box {
  background: #f2f2f2;
  padding: 2 * $gap;
  text-align: center;
  font-weight: bold;
  color: #666;
  font-size: 18px;
}

.social {
  li {
    padding-bottom: 6px;
  }
}

.btn-toolbar { margin: 0; }

.facebook a {
   &:hover { background: #5E78B1 !important; }
}

.twitter a {
   &:hover { background: #518CCF !important; }
}

.social-login {
  .facebook a {
    background: #4767AC;
    border-color: #133783;
  }

  .twitter a {
    background: #3F7ABD;
    border-color: #238aff;
  }
}

.box {
  padding: 3px;
  background: #EEE;
  border-radius: 3px;

  margin-bottom: 20px;

  &:hover {
    background: #eaeaea;
  }

  &.dark .box-content, .box-content.dark {
    background: #f9f9f9;
  }

  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
}

.box-content {
  border: 1px solid #CACACA;
  background-color: #FFF;
  border-radius: 3px 3px 0 0;
  padding: 10px;

  form {
    margin-bottom: 0;
  }
}

.box-content + .box-content {
  margin-top: -1px;
  border-radius: 0;
}

.box-content:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#add-character {
  color: #777;
  text-align: center;

  &:hover {
    color: $header-color;
    background: $header-color;
    .box-content {
      border-color: darken($header-color, 10%);
    }
  }
}

.loading i.hidden {
  display: inline-block;
  visibility: visible;
}
