body {
  font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  font-size: 16px;
  background: white image-url("bg.png") center 0 repeat-y;
}

.wrapper-l {
  width: (100% - 2 * 2.564102564102564);
  max-width: 1400px;
  padding: 0 2.564102564102564%;
  margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

#main-content {
  background: white;
  border-left: 1px solid #ccc;
  @include box-shadow(-2px 0 3px -2px rgba(0, 0, 0, 0.1));

  padding-left: 20px;
  *padding-left: 20px;

  padding-bottom: $app-padding;
}

#right-sidebar, #main-content {
  padding-top: $app-padding;
}

#left-sidebar {
  padding-top: 31px;

  &.loading { opacity: 0.8 }

  h1 {
    word-wrap: break-word;
    margin-bottom: 24px;
    line-height: 1em;
  }
}

.right-menu {
  float: right;
}

.img-rounded {
  border-radius: 2px;
}
.img-polaroid { padding: 2px; border: 1px solid #ddd; }

.notice {
  color: #C09853;
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  border-radius: 2px;
  padding: 10px;
}

.ir {
  display: block; border: 0; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr;
  br { display: none; }
}

.grey-box {
  background: #f2f2f2;
  padding: 2 * $gap;
  text-align: center;
  font-weight: bold;
  color: #666;
  font-size: 18px;
}

.social {
  li {
    padding-bottom: 6px;
  }
}

.btn-toolbar { margin: 0; }

.facebook a {
   &:hover { background: #5E78B1 !important; }
}

.twitter a {
   &:hover { background: #518CCF !important; }
}

.social-login {
  .facebook a {
    background: #4767AC;
    border-color: #133783;
  }

  .twitter a {
    background: #3F7ABD;
    border-color: #238aff;
  }
}

.box {
  padding: 3px;
  background: #EEE;
  border-radius: 3px;

  margin-bottom: 20px;

  &:hover {
    background: #eaeaea;
  }

  &.dark .box-content, .box-content.dark {
    background: #f9f9f9;
  }

  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
}

.box-content {
  border: 1px solid #CACACA;
  background-color: #FFF;
  border-radius: 3px 3px 0 0;
  padding: 10px;

  form {
    margin-bottom: 0;
  }
}

.box-content + .box-content {
  margin-top: -1px;
  border-radius: 0;
}

.box-content:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#add-character {
  color: #777;
  text-align: center;

  &:hover {
    color: $header-color;
    background: $header-color;
    .box-content {
      border-color: darken($header-color, 10%);
    }
  }
}
