.facet {
  margin-bottom: 0.875em;
  padding-bottom: 0.875em;
  border-bottom: 1px solid #eee;

  h3 {
    padding-left: 6px;
  }

  li {
    line-height: 1.0em;

    a {
      display: block;

      &:hover, &.current {
        border-radius: 2px;
        background: $a-color;
        color: white;

        .tag {
          background: white;
          color: $a-color;
        }
      }
    }

    .facet-title {
      display: block;
      font-size: 0.9375em;
      padding: 3px 3px 3px 6px;
    }
  }

  .reset-facet {
    @extend .right;
    @extend .small;
    margin-right: 6px;
    line-height: 19px;
    color: #da4f49;
    display: none;

    &.reset-on {
      display: block;
    }
  }

  &:hover {
    .reset-facet {
      display: block;
    }
  }
}
