.input {
  font-size: 14px;
}

#search-form {
  margin: 0;

  .control-group {
    // border-bottom: 1px solid #eee;

    &.last {
      margin-bottom: 0;
      padding-bottom: 10px;
      border: 0;
    }
  }

  .search-tabs {
    background: #f8f8f8;
    padding: 5px 5px 0;
    border-radius: 2px;
    border: 1px solid #d4d4d4;

    .btn-group { margin-bottom: 10px; }

    .tabcontent {
      display: none;
    }
  }

  .mod-sep {
    border-top: 1px solid #ccc;
  }

  a.inputy {
    display: block;
    border-radius: 2px;
    padding: 0 5px;
    border: 1px solid #0A95CA;
    min-height: 28px !important;
    color: #333;

    &:hover { background: #f2f2f2; }
  }

  .inputy {
    line-height: 28px;
    font-size: 14px;

    i { line-height: 28px }
  }
}

.select2-container .select2-choice {
  border-radius: $border-radius;
}

.centered-checkbox {
  margin-top: 5px;
}

form {
  .hint {
    color: #777;
    font-size: 12px;
    padding-left: 10px;
  }

  &.no-margin {
    margin: 0;
  }

  .highlight {
    border: 1px solid #0A95CA !important;
  }
}

.field_with_errors {
  .hint {
    display: none;
  }
  .error {
    color: #B94A48;
    padding-left: 10px;
  }
}

.select2-container-multi {
  width: 100%;
}

textarea {
  &.medium-textarea {
    height: 200px;
  }
}
