$border-color: #443B2C;
$dark-border-color: #28241d;

#results.loading {
  opacity: 0.8;
}

.c-items {
  .h1-title {
    margin-bottom: 6px;
  }
}

@-webkit-keyframes glow {
  to { text-shadow: 0 0 10px rgba(255, 0, 0, 0.6); }
}
@-moz-keyframes glow {
  to { text-shadow: 0 0 10px rgba(255, 0, 0, 0.6); }
}
@keyframes glow {
  to { text-shadow: 0 0 10px rgba(255, 0, 0, 0.6); }
}

.item {
  border-bottom: 1px solid $border-color;
  color: $font-color;

  &:first-child {
    border-radius: 3px 3px 0 0;
  }

  &.result {
    padding: 1.0em 1em 0.3em;
  }

  h2 {
    margin-bottom: -3px;

    a {
      color: #F3E6D0;
    }
  }

  .implicit {
    border-bottom: 1px solid $dark-border-color;
    padding-bottom: 2px;
    margin-bottom: 2px;
  }

  .corrupted {
    border-top: 1px solid $dark-border-color;
    padding-top: 2px;
    margin-top: 3px;
    color: red;
    -webkit-animation: glow 1s infinite alternate;
    -moz-animation: glow 1s infinite alternate;
    -ms-animation: glow 1s infinite alternate;
  }

  li, p {
    font-size: 0.875em;
    line-height: 1.4em;
    margin-bottom: 2px;
  }

  .stats, .props {
    li.sorting { padding-right: 20px; }
  }

  .props {
    li {
      font-size: 0.825em;

      &[data-mod] span {
        display: none;

        &.tag { display: block }
      }
    }

    span {
      font-size: 1.7em;
      color: #FFCB8D;
    }
  }

  .item-props {
    li {
      width: 48%;
      margin: 0 2% 10px 0;
      float: left;
    }
  }

  .props li[data-sort],
  .props li[data-mod],
  .stats li {
    position: relative;
    cursor: pointer;

    i {
      position: absolute;
      top: 3px;
      right: 4px;

      &.before {
        top: 5px;
        right: auto;
        left: -17px;
        font-size: 0.875em;
      }
    }

    &:hover {
      background: #3C2F2B
    }

    &.sorting {
      background: $main-bg-color;
    }
  }

  .sorting {
    padding: 0 4px;
    border-radius: 2px;
    border-bottom: 1px solid #ddd;

    > .tag {
      margin-left: -4px;
    }
  }

  .tag {
    border: 1px solid #aaa;
    color: #333;
    background: #fff;

    &.faded {
      font-size: 0.875em;
      background: #aaa;
    }

    &.tag-red, &.tag-green { background: none; }
    &.tag-red { border-color: #BE0000; color: #BE0000; }
    &.tag-green { border-color: #006200; color: #006200; }
  }

  .button-right {
    float: right;
    padding-left: $gap;
    padding-top: 5px;
  }

  .requirements {
    @extend .faded;
    height: 30px;

    [data-sort] {
      cursor: pointer;
      border-bottom: 1px dotted #ccc;
    }
  }

  .quality {
    font-size: 1rem;
    color: $font-color;
  }

  .item-icon img {
    max-height: 225px;
  }

  .actions {
    .button {
      background: none;
      border: 1px solid #A99877;
      color: #F3E6D0;
      border-radius: 2px;
      padding: 0 7px;
      line-height: 26px;
      margin: 6px 0.5em 0 0;
      background: $border-color;

      small {
        line-height: 1em;
      }
    }
  }


  hr {
    margin: -14px 0 5px;
  }
}

.no-results {
  @extend .grey-box;
}

.fa-loading {
  background: image-url("loader.gif") 0 0;
}

.footer {
  .fa-check, .fa-refresh { color: green; }
  .fa-remove { color: red; }
}

.orb {
  display: inline-block;
  text-indent: -9999px;
  height: 20px;
  width: 20px;
  background-image: image-url("orbs.png");
  background-repeat: no-repeat;
  position: relative;
  top: 3px;

  &.exa { background-position: -36px -109px; }
  &.gcp { background-position: -1px -145px; }
  &.chaos { background-position: -38px -145px; }
  &.alch { background-position: -73px -109px; }
  &.fus { background-position: -145px -145px }
}

.big {
  .orb {
    width: 36px;
    height: 36px;

    &.exa { background-position: -36px 1px; }
    &.gcp { background-position: 0px -36px }
    &.chaos { background-position: -36px -35px }
    &.alch { background-position: -72px 0px; }
  }
}
