.online-icon { color: #777; margin-right: 4px; }
.online-icon.offline { color: #da4f49; }
.online-icon.online { color: green; }

@-webkit-keyframes online {
  to { text-shadow: 0 0 6px rgba(0, 128, 0, 0.6); }
}
@-moz-keyframes online {
  to { text-shadow: 0 0 6px rgba(0, 128, 0, 0.6); }
}
@keyframes online {
  to { text-shadow: 0 0 6px rgba(0, 128, 0, 0.6); }
}

i.online-icon.online {
  -webkit-animation: online 1s infinite alternate;
  -moz-animation: online 1s infinite alternate;
  -ms-animation: online 1s infinite alternate;
}

