.item-icon {
  position: relative;

  &:hover .sockets { display: none; }
}

.sockets {
  position: absolute;
  top: 0;
  right: left;
}

.popover .sockets {
  position: relative;
  overflow: hidden;
}

.socket {
  height: 47px;
  width: 47px;

  &.socket-right {
    float: right;
  }
  &.socket-left {
    float: left;
  }

  &.socket-D { background: image-url("sockets/dex.png") 0 0 no-repeat; }
  &.socket-I { background: image-url("sockets/int.png") 0 0 no-repeat; }
  &.socket-S { background: image-url("sockets/str.png") 0 0 no-repeat; }
  &.socket-G { background: image-url("sockets/gen.png") 0 0 no-repeat; }
}

.w-2 .sockets, .w-2.sockets { width: 94px; }
.w-1 .sockets, .w-1.sockets { width: 47px; }

.h-3.sockets { height: 141px; }

.socket-link {
  position: absolute;
}

.horizontal-link {
  background: image-url("sockets/h-link.png") 0 0 no-repeat;
  width: 38px;
  height: 16px;
}
.vertical-link {
  background: image-url("sockets/v-link.png") 0 0 no-repeat;
  height: 38px;
  width: 16px;
}

.w-1 {
  .socket-link { @extend .vertical-link; }
  .socket-link-0 { top: 28px;  left: 16px; }
  .socket-link-1 { top: 75px;  left: 16px; }
}

.w-2 {
  .socket-link-0 { @extend .horizontal-link; top: 16px;  left: 28px; }
  .socket-link-1 { @extend .vertical-link;   top: 28px;  left: 63px; }
  .socket-link-2 { @extend .horizontal-link; top: 63px;  left: 28px; }
  .socket-link-3 { @extend .vertical-link;   top: 75px;  left: 16px; }
  .socket-link-4 { @extend .horizontal-link; top: 110px; left: 28px; }
}
