a.ico { position: relative; }

a.view-layout {
  text-align: center;
  line-height: 49px;
  color: #8AA8CF;

  &.current {
    color: white;
  }

  .ico {
    top: 17px;
    left: 15px;
  }

  span.ico {
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    position: absolute;
  }
}

.layouts {
  float: right;

  li {
    float: left;
    height:35px;

    a {
      height: 49px;
      width: 45px;
      display: block;

      &.fa-list {
        border-right: 1px solid #23416b;
      }

      &:hover, &.current {
        background: #18335A;
      }
    }
  }
}
